---
import Layout from '../../layouts/Layout.astro';

---
<Layout title="Bus lines of A Coruña">
	<main class="min-h-[100vh] min-w-full flex items-center justify-center">
		<div class="w-1/2 bg-slate-50 z-10 p-12 rounded-3xl shadow-xl flex flex-col items-center justify-center">
            <div class="text-lg flex items-center space-x-4">
                <!-- <div transition:name="test" class={`h-16 w-16 font-bold text-4xl rounded-full border-[6px] border-[#a50813] flex items-center justify-center`}>1</div> -->
                <div transition:name="test" class={`h-10 w-10 font-bold text-lg rounded-full border-4 flex items-center justify-center`}>1</div>
                <h1 class="text-6xl font-bold ">Linea 1</h1>
            </div>
            <p class="text-slate-600 pt-2 text-sm">From Abente y Lago to Castrillón</p>

            <ul class="text-xs space-y-1 text-center pt-12">
                <li class="font-bold">Abente y Lago</li>
                <li>O Parrote, Capitanía</li>
                <li>Porta Real</li>
                <li>Av.Mariña,T.Rosalía</li>
                <li>Av. Mariña, Obelisco</li>
                <li>Pza. de Mina, 26</li>
                <li>Pza. de Ourense</li>
                <li>Linares Rivas, 26</li>
                <li>Primo de Rivera, 1</li>
                <li>Pza. da Palloza</li>
                <li>Av.Exército,Casa Mar</li>
                <li>Av. do Exército, 16</li>
                <li>Av. do Exército, 44</li>
                <li>Av. do Exército, 68</li>
                <li>Castros,Av.Concordia</li>
                <li>Av. da Concordia, 14</li>
                <li>Av. da Concordia, 50</li>
                <li>Av. da Concordia, 72</li>
                <li>Abegondo, 3</li>
                <li class="font-bold">Pza. Pablo Iglesias</li>
            </ul>
			</div>
		</div>
	</main>
</Layout>








